h1,
h2 {
  text-align: center;
  margin: 0px;
  padding: 0%;
  color: blue;
  font-size: xx-large;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 40px;
}

h2 {
  text-align: center;
  color: yellow;
}
p {
  text-align: center;
  font-family: cursive;
  color: gray;
}
tr {
  border-collapse: collapse;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-size: larger;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  background-color: aqua;
}
body {
  background-color: black;
}
tr,
td {
  border: solid black;
  padding: 2%;
}
img {
  height: 100px;
  width: 150px;
  object-fit: cover;
}
h3 {
  background-color: red;
}
.menu-button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 36%;
  padding: 10px;
  border-radius: 7px;
  background-color: aqua;
  cursor: pointer;
}
.menu-button span {
  width: 40px;
  height: 4px;
  background-color: white;
}
.toggle {
  display: none;
  text-align: center;
  background-color: black;
  border-radius: 7px;
  padding: 20px;
  width: 150px;
  margin: 10px auto;
}
.toggle li {
  list-style: none;
  display: block;
  padding: 10px 0;
  color: #fafafa;
}
.menu-toggle:checked + .toggle {
  display: block;
}
